.jumbotron
{
  padding-top: 2rem;
  background-color: #e2edff;
}

#Properties
{
  background-color: #e2edff;
}

.Properties
{
  background-color: #e2edff;
}

.card-body a
{
  text-decoration: none;
}
